@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.container{
  background-color:skyblue;
  height: 400px;
  padding: 5px;
  /* children are positioned in a row, left aligned */
  display: flex;
  /* children are not positioned in a col, up aligned */
  /* flex-direction: column; */

  /* where are our children in relation to container, horizontally
  main axis*/
  justify-content: start;

  /* baseline aligns the baseline of the text inside the children 
  cross axis*/
  align-items: start;

  /* justify-content and align-items switch axis when dealing with
  columns. */

  /* responsive layouts 
  by default, all our items are forced into one line.
  this lets them wrap to next lines when there's not much space.*/
  flex-wrap: wrap;
  /* this unlocks align-content, which positions item lines in the cross
  axis*/
  align-content: flex-start;
  
  /* gap btwn children */
  /* gap: 1em; */
}

.item {
  background-color: lightpink;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-color: black;
  border-width: 4px;
}
