@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  font-size: 30px;
}

a{
  color:limegreen;
}
a:visited{
  color:blue;
}
a:hover{
  color:tomato;
}
a:active{
  color:yellow;
}
button{
  background-color: darkgrey;
}
button:hover{
  background-color: lightgrey;
}
button:active{
  background-color: orange;
}
/* li:nth-child(4){
  background-color: yellow;
} */
/* li:nth-child(even){
  background-color: skyblue;
}
li:nth-child(odd){
  background-color: powderblue;
} */
li:nth-child(4n+1){
  background-color: yellow;
}